{% extends "SocialMedia/profil/base_profil.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}{{ user.username }} - Demandes{% endblock %}
{% block contentProfil %}
    {% comment %}
                         <!-- Filter Nav Start -->
                            <div class="filter--nav pb--30 clearfix">
                                <div class="filter--options float--right">
                                    <label>
                                        <span class="fs--14 ff--primary fw--500 text-darker">Show By :</span>

                                        <select name="membersfilter" class="form-control form-sm" data-trigger="selectmenu">
                                            <option value="last-active" selected>Last Active</option>
                                            <option value="most-members">Most Members</option>
                                            <option value="newly-created">Newly Created</option>
                                            <option value="alphabetical">Alphabetical</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <!-- Filter Nav End -->

                            <!-- Box Items Start -->
                            <div class="box--items">
                                <div class="row gutter--15 MasonryRow">
                                    <div class="col-md-4 col-xs-6 col-xxs-12">
                                        <!-- Box Item Start -->
                                        <div class="box--item text-center">
                                            <a href="group-home.html" class="img" data-overlay="0.1">
                                                <img src="img/group-img/01.jpg" alt="">
                                            </a>

                                            <div class="info">
                                                <div class="icon fs--18 text-lightest bg-primary">
                                                    <i class="fa fa-plane"></i>
                                                </div>

                                                <div class="title">
                                                    <h2 class="h6"><a href="group-home.html">Travel ( Just Take A Tour )</a></h2>
                                                </div>

                                                <div class="meta">
                                                    <p><i class="fa mr--8 fa-clock-o"></i>Active 8 days ago</p>
                                                    <p><i class="fa mr--8 fa-user-o"></i>Public Group / 2500 Members</p>
                                                </div>

                                                <div class="desc text-darker">
                                                    <p>Lorem Ipsum is simply dummy text of the printing &amp; typesetting.</p>
                                                </div>

                                                <div class="action">
                                                    <a href="group-home.html">Group Details<i class="fa ml--10 fa-caret-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Box Item End -->
                                    </div>

                                    <div class="col-md-4 col-xs-6 col-xxs-12">
                                        <!-- Box Item Start -->
                                        <div class="box--item text-center">
                                            <a href="group-home.html" class="img" data-overlay="0.1">
                                                <img src="img/group-img/02.jpg" alt="">
                                            </a>

                                            <div class="info">
                                                <div class="icon fs--18 text-lightest bg-primary">
                                                    <i class="fa fa-music"></i>
                                                </div>

                                                <div class="title">
                                                    <h2 class="h6"><a href="group-home.html">Music Lover ( Injoy Yourself )</a></h2>
                                                </div>

                                                <div class="meta">
                                                    <p><i class="fa mr--8 fa-clock-o"></i>Active 8 days ago</p>
                                                    <p><i class="fa mr--8 fa-user-o"></i>Public Group / 2500 Members</p>
                                                </div>

                                                <div class="desc text-darker">
                                                    <p>Lorem Ipsum is simply dummy text of the printing &amp; typesetting.</p>
                                                </div>

                                                <div class="action">
                                                    <a href="group-home.html">Group Details<i class="fa ml--10 fa-caret-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Box Item End -->
                                    </div>

                                    <div class="col-md-4 col-xs-6 col-xxs-12">
                                        <!-- Box Item Start -->
                                        <div class="box--item text-center">
                                            <a href="group-home.html" class="img" data-overlay="0.1">
                                                <img src="img/group-img/03.jpg" alt="">
                                            </a>

                                            <div class="info">
                                                <div class="icon fs--18 text-lightest bg-primary">
                                                    <i class="fa fa-camera"></i>
                                                </div>

                                                <div class="title">
                                                    <h2 class="h6"><a href="group-home.html">Photography ( Memories )</a></h2>
                                                </div>

                                                <div class="meta">
                                                    <p><i class="fa mr--8 fa-clock-o"></i>Active 8 days ago</p>
                                                    <p><i class="fa mr--8 fa-user-o"></i>Public Group / 2500 Members</p>
                                                </div>

                                                <div class="desc text-darker">
                                                    <p>Lorem Ipsum is simply dummy text of the printing &amp; typesetting.</p>
                                                </div>

                                                <div class="action">
                                                    <a href="group-home.html">Group Details<i class="fa ml--10 fa-caret-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Box Item End -->
                                    </div>

                                    <div class="col-md-4 col-xs-6 col-xxs-12">
                                        <!-- Box Item Start -->
                                        <div class="box--item text-center">
                                            <a href="group-home.html" class="img" data-overlay="0.1">
                                                <img src="img/group-img/04.jpg" alt="">
                                            </a>

                                            <div class="info">
                                                <div class="icon fs--18 text-lightest bg-primary">
                                                    <i class="fa fa-paw"></i>
                                                </div>

                                                <div class="title">
                                                    <h2 class="h6"><a href="group-home.html">Tasty Food Recipes</a></h2>
                                                </div>

                                                <div class="meta">
                                                    <p><i class="fa mr--8 fa-clock-o"></i>Active 8 days ago</p>
                                                    <p><i class="fa mr--8 fa-user-o"></i>Public Group / 2500 Members</p>
                                                </div>

                                                <div class="desc text-darker">
                                                    <p>Lorem Ipsum is simply dummy text of the printing &amp; typesetting.</p>
                                                </div>

                                                <div class="action">
                                                    <a href="group-home.html">Group Details<i class="fa ml--10 fa-caret-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Box Item End -->
                                    </div>

                                    <div class="col-md-4 col-xs-6 col-xxs-12">
                                        <!-- Box Item Start -->
                                        <div class="box--item text-center">
                                            <a href="group-home.html" class="img" data-overlay="0.1">
                                                <img src="img/group-img/05.jpg" alt="">
                                            </a>

                                            <div class="info">
                                                <div class="icon fs--18 text-lightest bg-primary">
                                                    <i class="fa fa-laptop"></i>
                                                </div>

                                                <div class="title">
                                                    <h2 class="h6"><a href="group-home.html">Pet Care ( Passionately )</a></h2>
                                                </div>

                                                <div class="meta">
                                                    <p><i class="fa mr--8 fa-clock-o"></i>Active 8 days ago</p>
                                                    <p><i class="fa mr--8 fa-user-o"></i>Public Group / 2500 Members</p>
                                                </div>

                                                <div class="desc text-darker">
                                                    <p>Lorem Ipsum is simply dummy text of the printing &amp; typesetting.</p>
                                                </div>

                                                <div class="action">
                                                    <a href="group-home.html">Group Details<i class="fa ml--10 fa-caret-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Box Item End -->
                                    </div>

                                    <div class="col-md-4 col-xs-6 col-xxs-12">
                                        <!-- Box Item Start -->
                                        <div class="box--item text-center">
                                            <a href="group-home.html" class="img" data-overlay="0.1">
                                                <img src="img/group-img/06.jpg" alt="">
                                            </a>

                                            <div class="info">
                                                <div class="icon fs--18 text-lightest bg-primary">
                                                    <i class="fa fa-cutlery"></i>
                                                </div>

                                                <div class="title">
                                                    <h2 class="h6"><a href="group-home.html">Technology</a></h2>
                                                </div>

                                                <div class="meta">
                                                    <p><i class="fa mr--8 fa-clock-o"></i>Active 8 days ago</p>
                                                    <p><i class="fa mr--8 fa-user-o"></i>Public Group / 2500 Members</p>
                                                </div>

                                                <div class="desc text-darker">
                                                    <p>Lorem Ipsum is simply dummy text of the printing &amp; typesetting.</p>
                                                </div>

                                                <div class="action">
                                                    <a href="group-home.html">Group Details<i class="fa ml--10 fa-caret-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Box Item End -->
                                    </div>
                                </div>
                            </div>
                            <!-- Box Items End -->

                            <!-- Page Count Start -->
                            <div class="page--count pt--30">
                                <label class="ff--primary fs--14 fw--500 text-darker">
                                    <span>Viewing</span>

                                    <a href="#" class="btn-link"><i class="fa fa-caret-left"></i></a>
                                    <input type="number" name="page-count" value="01" class="form-control form-sm">
                                    <a href="#" class="btn-link"><i class="fa fa-caret-right"></i></a>

                                    <span>of 28</span>
                                </label>
                            </div>
                            <!-- Page Count End -->
{% endcomment %}
    <h2 class="display-2">Page In Construction</h2>

{% endblock %}

{% block scripts %}
    {{ block.super }}
<script>
    $('.profil_links_menu li').removeClass('active');
    $('.profil_links_menu li:eq(3)').addClass('active');



$("#acceptDemande, #refuseDemande, #bloqueDemande").on( "submit", function(event) {
	event.preventDefault();
    var form_data = new FormData($(this)[0]);
    $.ajax({
        url: '{% url "SocialMedia:demandes" %}',
        type: $(this).attr('method'),
        processData: false,
        contentType: false,
        data : form_data,
        success: function(data) {
            if( data.statut ) {
                    $('.demande'+data.demande).fadeOut(1000,function(){
                    });
                    setTimeout(function(){
                        switch(data.statut) {
                        case 1:
                            swal("Vous pouvez maintenant partager vos moments avec "+data.ami, "Demmande Acceptée", "success");
                            break;
                        case 2:
                            swal("Demande de "+data.ami+" a ete refusée", "Demmande Refusée", "success");
                            break;
                        case 3:
                            swal(data.ami+" à éte bloqué", "Utilisateur Bloqué", "success");
                        }
                    },1000);
                    console.log(data);
                    if( data.nbdemandes == 0)
                    {
                        $("<h2 class='h4 fw--700 widget--title'>Vous N'avez Aucune Demande D'Amis</h2>").insertAfter( "#requests" );
                        $('#requests').hide(1500);
                    }
            }else
                {
                    swal({
                      type: 'error',
                      title: 'Erreur',
                      text: 'Veuiller actualiser la page puis ressayer',
                    })
                }
        },
        error: function() { },
        stop: function (e) {  /* 3. WHEN THE UPLOADING PROCESS FINALIZE, HIDE THE MODAL */
          $("#squarespaceModalprofil").modal("hide");
            swal("Veuiller Verifier Votre Connexion Reseau Puis Ressayer", "Erreur Fatale", "error");
        }
    });

});
</script>
{% endblock %}