{% extends "SocialMedia/profil/base_profil.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load sekizai_tags %}
{% block title %}{{ user.username }}{% endblock %}

{% block contentProfil %}
                            <!-- Profile Details Start -->
                            <div class="profile--details fs--14">
                                <!-- Profile Item Start -->
                                <div class="profile--item">
                                    <div class="profile--heading">
                                        <h3 class="h4 fw--700">
                                            <span class="mr--4">A Propos</span>
                                            <i class="ml--10 text-primary fa fa-caret-right"></i>
                                        </h3>
                                    </div>

                                    <div class="profile--info">
                                        <table class="table">
                                            <tbody style="float:left;">
                                            <tr>
                                                <th class="fw--700 text-darkest">Linked Accounts</th>
                                                <td>
                                                    <a href="{{ user.profil.SocialMedia }}" target="_blank" class="btn-link"><i style="font-size:20px;color:#3b5999" class="fa fa-SocialMedia-square" aria-hidden="true"></i></a>
                                                    <a href="{{ user.profil.youtube }}" target="_blank" class="btn-link"><i style="font-size:20px;color:#cd201f" class="fa fa-youtube-square" aria-hidden="true"></i></a>
                                                    <a href="{{ user.profil.instagram }}" target="_blank" class="btn-link"><i style="font-size:20px;color:#e4405f" class="fa fa-instagram" aria-hidden="true"></i></a>
                                                    <a href="{{ user.profil.linkedin }}" target="_blank" class="btn-link"><i style="font-size:20px;color:#0077B5" class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="fw--700 text-darkest">Nom Complet</th>
                                                <td><a href="#" class="btn-link">{{ user.first_name }}</a></td>
                                            </tr>
                                            <tr>
                                                <th class="fw--700 text-darkest">Entreprise</th>
                                                <td><a href="https://www.google.com/search?q={{ user.profil.entreprise.nom }}" target="_blank" class="btn-link">{{ user.profil.entreprise.nom }}</a></td>
                                            </tr>
                                            <tr>
                                                <th class="fw--700 text-darkest">Date De Naissance</th>
                                                <td>{{ user.profil.date_naissance }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- Profile Item End -->

                            <hr style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);">

                                <!-- Profile Item Start -->
                                <div class="profile--item">
                                    <div class="profile--heading">
                                        <h3 class="h4 fw--700">
                                            <span class="mr--4">Biography</span>
                                            <i class="ml--10 text-primary fa fa-caret-right"></i>
                                        </h3>
                                    </div>

                                    <div class="profile--info">
                                        <p>Hello ! I’m <a href="{% url 'SocialMedia:profil' %}">{{ user.first_name }} {{ user.last_name }}</a>. {{ user.profil.biography }}</p>
                                    </div>
                                </div>
                                <!-- Profile Item End -->


                                <hr style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);">


                                <!-- Profile Item Start -->
                                <div class="profile--item">

                                    <div class="profile--heading">
                                        <h3 class="h4 fw--700">
                                            <span class="mr--4">Experiences Professionnelles</span>
                                            <i class="ml--10 text-primary fa fa-caret-right"></i>
                                        </h3>
                                    </div>

                                    <div class="profile--info">
                                        <dl>
                                            {% for experience in experiences %}
                                                <dt>
                                                    <p class="h6 fw--700 text-darkest">{{ experience.poste.nom_poste }} {{ experience.date_debut }} - {{ experience.date_fin }}</p>
                                                    <p><small class="fw--400 fs--12 text-darker">{{ experience.entreprise.siteInternet }} at {{ experience.entreprise.ville }}</small></p>
                                                </dt>
                                                <dd>
                                                    <p>{{ experience.description }}</p>
                                                </dd>
                                                {% if not forloop.last %}
                                                <hr width="50%" style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);height:1px;border:none;color:#1ea1f2;background-color:#1ea1f2"; />
                                                {% endif %}
                                            {% endfor %}
                                        </dl>
                                    </div>
                                </div>
                                <!-- Profile Item End -->

                            <hr style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);">

                                <!-- Profile Item Start -->
                                <div class="profile--item">

                                    <div class="profile--heading">
                                        <h3 class="h4 fw--700">
                                            <span class="mr--4">Formations Univertsitaires</span>
                                            <i class="ml--10 text-primary fa fa-caret-right"></i>
                                        </h3>
                                    </div>


                                    <div class="profile--info">
                                        <dl>
                                            {% for formation in formations %}
                                                <dt>
                                                    <p><b class="h-25 fw--700 text-darkest">Nom Formation: </b><span class="h6 fw--400 text-darkest">{{ formation.nom_formation }}</span></p>
                                                    <p><b class="h-25 fw--700 text-darkest">Domaine:</b><small class="h6 fw--400 fs--12 text-darker"> {{ formation.domaine }}</small></p>
                                                </dt>
                                                <dd>
                                                        <div class="row">
                                                                <div class="col-xs-4"><img src="{{ formation.ecole.image.url }}" class="img-responsive img-rounded float--left" /></div>
                                                                <div class="col-xs-8">
                                                                    <p class="h6 fa--700 text-darkest">{{ formation.ecole.nom }}</p>
                                                                    <p class="h6 fw--400 text-darkest">{{ formation.annee_debut|date:"Y" }} - {{ formation.annee_fin|date:"Y" }}</p>
                                                                </div>
                                                        </div>
                                                            <p style="margin-top: 8px;"><b>Description:</b><label class="h6 fw--400 text-darkest">{{ formation.description }}.</label></p>

                                                </dd>
                                                {% if not forloop.last %}
                                                    <hr width="50%" style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);height:1px;border:none;color:#1ea1f2;background-color:#1ea1f2";></hr>
                                                {% endif %}
                                            {% endfor %}
                                        </dl>
                                    </div>
                                </div>
                                <!-- Profile Item End -->

                                <hr style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);">

                                <!-- Profile Item Start -->
                                <div class="profile--item">

                                    <div class="profile--heading">
                                        <h3 class="h4 fw--700">
                                            <span class="mr--4">Actions Benevoles</span>
                                            <i class="ml--10 text-primary fa fa-caret-right"></i>
                                        </h3>
                                    </div>

                                    <div class="profile--info">
                                        <dl>
                                            {% for actionBenevole in actionsBenevoles %}
                                            <dt>
                                                <p class="h6 fw--700 text-darkest">{{ actionBenevole.poste.nom_poste }} <span class="h6 fw--400 text-darkest">entre</span> {{ actionBenevole.date_debut }} - {{ actionBenevole.date_fin }}</p>
                                                <p><small class="fw--400 fs--12 text-darker">{{ actionBenevole.cause }}</small></p>
                                            </dt>
                                            <dd>
                                                <div class="row">
                                                    <div class="col-xs-4"><img src="{{ actionBenevole.organisme.image.url }}" alt="Supprimée" class="img-responsive img-rounded"></div>
                                                    <div class="col-xs-8 center-block">
                                                        <p class="h6 fa--700 text-darkest">{{ actionBenevole.organisme.nom }}.</p>
                                                        <p class="h6 fw--400 text-darkest">{{ actionBenevole.date_debut|date:"Y/m/d" }} - {{ actionBenevole.date_fin|date:"Y/m/d" }}.</p>
                                                        <p class="h6 fw--400 text-darkest">{{ actionBenevole.description }}.</p>

                                                    </div>
                                                </div>
                                            </dd>
                                                {% if not forloop.last %}
                                                <hr width="50%" style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);height:1px;border:none;color:#1ea1f2;background-color:#1ea1f2;" />
                                                {% endif %}
                                            {% endfor %}
                                        </dl>
                                    </div>
                                </div>
                                <!-- Profile Item End -->

                            <hr style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);">

                                <!-- Profile Item Start -->
                                <div class="profile--item">
                                    <div class="profile--heading">
                                        <h3 class="h4 fw--700">
                                            <span class="mr--4">Contact</span>
                                            <i class="ml--10 text-primary fa fa-caret-right"></i>
                                        </h3>
                                    </div>

                                    <div class="profile--info">
                                        <table class="table">
                                            <tr>
                                                <th class="fw--700 text-darkest">Phone</th>
                                                <td><a class="h6 fa--400 text-darkest" href="tel:+16105598246">{{ user.profil.tel }}</a></td>
                                            </tr>
                                            <tr>
                                                <th class="fw--700 text-darkest">E-mail</th>
                                                <td><a class="h6 fa--400 text-darkest" href="#"><span class="__cf_email__" data-cfemail="4622232b2906233e272b362a236825292b">{% if user.email is not None %}{{ user.email }}{% else %}PROTECTED{% endif %}</span></a></td>
                                            </tr>
                                            <tr>
                                                <th class="fw--700 text-darkest">Website</th>
                                                <td><a class="h6 fa--400 text-darkest" href="{{ user.profil.website }}" target="_blank">{{ user.profil.website }}</a></td>
                                            </tr>
                                            <tr>
                                                <th class="fw--700 text-darkest">Address</th>
                                                <td class="h6 fa--400 text-darkest">{{ user.profil.address|default:"Non Rempli" }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- Profile Item End -->
                            </div>


                            <!-- Profile Details End -->

{% endblock %}





{% block scripts %}

    {{ block.super }}

{% endblock %}




